<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>iCoaching</title>
        <link
            rel="stylesheet"
            type="text/css"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
        <link
            rel="stylesheet"
            type="text/css"
            href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
        <style type="text/css">
            body {
                background: #f2f2f2;
            }

            .row {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100vh;
            }

            .payment {
                border: 1px solid #f2f2f2;
                border-radius: 4px;
                background: #fff;
                width: 600px;
            }
            .payment_header {
                background: #1e62af;
                padding: 20px;
                border-radius: 4px 4px 0px 0px;
            }

            .check,
            .x {
                margin: 0px auto;
                width: 50px;
                height: 50px;
                border-radius: 100%;
                background: #fff;
                text-align: center;
            }

            .check i {
                color: green;
                vertical-align: middle;
                line-height: 50px;
                font-size: 30px;
            }

            .x i {
                color: red;
                vertical-align: middle;
                line-height: 50px;
                font-size: 30px;
            }

            .content {
                text-align: center;
            }

            .content {
                padding: 32px;
            }

            .content h1 {
                font-size: 25px;
            }

            .payment.success > .content > h1 {
                color: green;
            }

            .payment.fail > .content h1 {
                color: red;
            }

            .content a {
                width: 200px;
                height: 35px;
                color: #fff;
                border-radius: 4px;
                padding: 5px 10px;
                background: #1e62af;
                transition: all ease-in-out 0.3s;
            }

            .content a:hover {
                text-decoration: none;
                opacity: 0.6;
            }
        </style>
    </head>
<body>
<div>
    @{
        var isSuccess = (bool?)ViewBag.IsSuccess;
        var color = isSuccess.HasValue ? "green" : "red";
        var message = (string)ViewBag.Message;
        var goBack = (string)ViewBag.GoBack;
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <!-- Success -->

                    @{
                        if (isSuccess.HasValue)
                        {
                            <div class="payment success">
                                <div class="payment_header">
                                    <div class="check"><i class="fa fa-check" aria-hidden="true"></i></div>
                                </div>
                                <div class="content success">
                                    <h1>@message</h1>
                                    <p>
                                        Vui lòng vào mục <span style="font-weight: bold">Chờ xác nhận </span>ở trang
                                        <span style="font-weight: bold">Yêu cầu tập luyện </span>để xem chi tiết
                                    </p>
                                    <a href="@goBack">Quay lại</a>
                                </div>
                            </div>
                        }
                        else
                        {
                            <!-- Failed -->
                            
                            <div class="payment fail">
                                <div class="payment_header">
                                    <div class="x"><i class="fa fa-times" aria-hidden="true"></i></div>
                                </div>
                                <div class="content">
                                    <h1>@message</h1>
                                    <a href="@goBack">Quay lại</a>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
    }
    
    
</div>
</body>
</html>